{% extends "reagency/layout.html" %}
{% load static %}


{% block body %}



{% block script %}
    <script src="{% static 'reagency/likedproperties.js' %}"></script>
{% endblock %}




<div id="userSearchedProperties"></div>

{% if property_manager_properties %}

    {% for property in property_manager_properties %}
    
    <div class="card listingCard mx-3 my-3" style="width: 18rem;height: 400px;" data-bs-target="#propertyVideos"
        data-bs-toggle="modal" data-propertyId="{{property.id}}">
    
        <div class="vidCont" data-propertyId="{{property.id}}">
            <video class="video-auto" id="video-{{property.id}}" src="{{property.int_vid}}" muted loop autoplay style="width: 100%;"></video>
            <video src="{{property.int_vid}}" class="video-preview" muted></video>
            <video id="extVideo-{{property.id}}" src="{{property.ext_vid}}" hidden></video>
            <video id="streetVideo-{{property.id}}" src="{{property.street_vid}}" hidden></video>
        </div>
    
        <div hidden>
            <p id="propertyBed">{{property.bed}}</p>
            <p id="propertyType">{{property.type}}</p>
            <p id="propertyRentSale">{{property.rent_sale}}</p>
            <p id="propertyHouseNumber">{{property.house_number}}</p>
            <p id="propertyStreet">{{property.prop_location.street}}</p>
            <p id="propertyEstateName">{{property.prop_location.estate_name}}</p>
            <p id="propertyAreaName">{{property.prop_location.area_name}}</p>
            <p id="propertyPrice">{{property.price}}</p>
        </div>
    
        <div class="card-body">
            <h5 class="card-title">Area:{{property.prop_location.area_name}}</h5>
            <!-- {% if not prop.is_active %}
                    <h5 class="card-title">This property is not active to the general public. Only you can view this property</h5>
                    {% endif %} -->
    
            <p class="card-text">Estate:{{property.prop_location.estate_name}}</p>
            <p class="card-text">Street:{{property.prop_location.street}}</p>
            <span class="priceTag badge text-bg-danger">Price:<span>&#x20A6;</span>{{property.price}}</span>
        </div>
    
    </div>
    
    <!-- Modal for displaying videos -->
    <div class="modal fade" id="propertyVideos" data-bs-keyboard="false" tabindex="-1" aria-labelledby="propertyVideosLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header video-select-container">
                    <div class="d-flex flex-column">
                        <p class="modal-title fs-3" id="propertyVideosLabel1"></p>
                        <p class="modal-title fs-3" id="propertyVideosLabel2"></p>
                        <h4 class="modal-title fs-3" id="propertyVideosLabel3"></h4>
                    </div>
    
    
    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
    
    
                    <div class="current-video">
                        <div class="d-flex flex-row justify-content-between mx-auto video-select" style="height: 80px;">
                            <div class="card mx-auto" id="interiorCard"
                                style="width: 150px; height: 90%; background: none;">
                                <p
                                    style="z-index: 10; font-weight: 700;line-height: 0.5; width: max-content; font-size: 16px;">
                                    Interior Video</p>
                                <video id="videoIntSelect" muted></video>
                            </div>
                            <div class="card mx-auto" id="compoundCard" style="width: 150px; height: 90%;">
                                <p
                                    style="z-index: 10; font-weight: 700; line-height: 0.5; width: max-content; font-size: 16px;">
                                    Compound Video</p>
                                <video id="videoCompSelect" muted></video>
                            </div>
                            <div class="card mx-auto" id="streetCard" style="width: 150px; height: 90%;">
                                <p
                                    style="z-index: 10; font-weight: 700; line-height: 0.5; width: max-content;font-size: 16px;">
                                    Street Video</p>
                                <video id="videoStreetSelect" muted></video>
                            </div>
    
                        </div>
    
                        <video id="mainVideoDisplay" style="display: block; height: 100%; width: 100%; position: absolute;" loop autoplay controls></video>
    
    
                    </div>
    
    
    
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button id="paymentButton" type="button" class="btn btn-primary" data-bs-target="#makePayment"
                        data-bs-toggle="modal" data-propid="{{property.id}}">Make Payment for this property</button> -->
                </div>
            </div>
        </div>
    </div>
    
    
    {% endfor %}

    


{% elif property_num == 0 %}
    <div><p>You do not have any active property at the moment. Contact our customer care representative</p></div>

{% else %}

    <div><p>You may not be a registered Property Manager. Sign up as a property manager to view the properties you manage. </p></div>

{% endif %}






<!-- <div id="listingSpecialistProperties">

        {% if all_properties %}
        
        {% if all_properties|length > 0 %}
        {% with first_property=all_properties.0 %}
        {% if first_property.rent_sale == "rent" %}
        <h1>Properties for rent in {{first_property.prop_location.area_name}}</h1>
        {% elif first_property.rent_sale == "shortlet" %}
        <h1>Properties for shortlet in {{first_property.prop_location.area_name}}</h1>
        {% else %}
        <h1>Properties for sale in {{first_property.prop_location.area_name}}</h1>
        {% endif %}
        {% endwith %}
        {% endif %}
        
            {% for property in all_properties %}
            {% if property.is_active %}
            
            <div class="card listingCard mx-3 my-3" style="width: 18rem;height: 400px;">
                


                <div class="vidCont" data-propertyId="{{property.id}}">
                    <video id="video-{{property.id}}" src="{{property.int_vid}}" muted loop autoplay></video>
                    <video src="{{property.int_vid}}" class="video-preview" muted></video>
            
            
                </div>
            
                <div class="card-body">
                    <h5 class="card-title">Area:{{property.prop_location.area_name}}</h5>
                    <p class="card-text">{{property.prop_location.estate_name}}</p>
                    <p class="card-text">{{property.prop_location.street}}</p>
                    <strong><p class="card-text">{{property.price}}</p></strong>


                </div>
            </div>

            {% endif %}
            {% endfor %}
        {% endif %} 

    </div> -->

<!-- all active properties posted by all listing specialists -->

<!-- {% for listing in listings %}
    
    <div class="card listingCard mx-3 my-3" style="width: 18rem;height: 400px;">

        <span class="badge text-bg-danger priceTag"><span>&#x20A6;</span>{{listing.current_bid}}</span>
    
        <div class="imageCont">
            <img src="{{listing.listing_img}}" class="card-img-top picSize" alt="{{listing.title}}" />
            <span class="badge text-bg-danger priceTag"><span>&#x20A6;</span>{{listing.current_bid}}</span>
        </div>
    
        <div class="card-body">
            <h5 class="card-title">{{listing.title}}</h5>
            <p class="card-text">{{listing.description}}</p>
             <p>posted by: {{listing.user.username}}</p> 
            <p>Units available: {{listing.quantity}}</p>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary">See details</a>
        </div>
    </div>
    {% endfor %} -->

    



{% endblock %}